<%= form_with model: @message, url: messages_path, local: true do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit 'Create Message' %>
  </div>
<% end %>
